anyio
appdirs
appnope
argon2-cffi
async-generator
attrs
Babel
backcall
beautifulsoup4
bidict
bleach
bools
certifi
cffi
chardet
click
colorama
colorlog
coverage
coveralls
cycler
debugpy
decorator
defusedxml
distlib
docopt
docutils
elasticsearch
entrypoints
execnet
filelock
gevent
git-filter-repo
graphviz
greenlet
idna
importlib-metadata
iniconfig
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
joblib
json5
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-contrib-core
jupyter-core
jupyter-nbextensions-configurator
jupyter-server
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
jupytext
keyring
kiwisolver
kneed
loguru
lxml
Mako
Markdown
markdown-it-py
MarkupSafe
matplotlib-inline
mdit-py-plugins
memory-profiler
mistune
mypy
mypy-extensions
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
orjson
packaging
pandocfilters
parso
pdoc3
pexpect
pickleshare
Pillow
pkginfo
pluggy
prometheus-client
prompt-toolkit
psutil
ptyprocess
python-dateutil
py
pycparser
Pygments
pylru
Pympler
pyparsing
pyrsistent
pytest
pytest-forked
pytest-xdist
pyzmq
qtconsole
QtPy
rarfile
readme-renderer
requests
requests-toolbelt
requests-unixsocket
rfc3986
setuptools
seaborn
Send2Trash
six
sniffio
soupsieve
subfinder
terminado
testpath
threadpoolctl
toml
tornado
tqdm
traitlets
twine
typing-extensions
urllib3
virtualenv
wcwidth
webencodings
websocket-client
widgetsnbextension
zipp
zope.event
zope.interface